fastapi
uvicorn
langchain==0.2.0
langchain-chroma 
langchain-community==0.2.0
sentence-transformers==2.4.0
python-dotenv
langchain-google-genai
pypdf==4.2.0
SQLAlchemy==2.0.31
python-jose==3.3.0
psycopg2==2.9.9